.dashboard
  .row
    .col-md-3
      .side-bar
        = render 'side_bar'
    .col-md-9
      .main-content
        %ul
          -@emo_sessions.each do|session|
            %li  
              =link_to "Session #{session.date}", session
        
