%h1 Listing emo_sessions

%table
  %tr
    %th
    %th
    %th

  - @emo_sessions.each do |emo_session|
    %tr
      %td= link_to 'Show', emo_session
      %td= link_to 'Edit', edit_emo_session_path(emo_session)
      %td= link_to 'Destroy', emo_session, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Emo session', new_emo_session_path
